.container {
    height: 880px;
    width: 880px;
    display: flex;
    flex-wrap: wrap;

}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px 0px;
}